.piece {
    height: 256px;
    width: 256px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
}

.selected {
    border: 4px dashed black;
}

.matched {
    border: 4px solid green;
}

#board {
    width: 60%;
    float: left;
}

#matches {
    width: 40%;
    float: right;
}
