.piece {
    height: 128px;
    width: 128px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
}

#board {
    width: 60%;
    float: left;
}

#matches {
    width: 40%;
    float: right;
}
